<%- include("../includes/head.ejs") %>
<%- include("../includes/navigation.ejs") %>

<body>
    <form method="post" action="/reset-password">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <input type="password" name="password">
        <input type="password" name="confirmPassword">
        <% console.log(error) %>
        <% if(error) { %>
        <h1><%= error %></h1>
        <% } %>
        <button type="submit">Update password</button>
    </form>
</body>
<%- include("../includes/end.ejs") %>