<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>
    <% if (error) { %>
    <div class="user-message user-message--error">
        <%= error %>
    </div>
    <% } %>
    <form method="POST" class="product-form" action="/admin/sales" novalidate>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="edit" value="<%= true %>">
        <input type="hidden" name="saleId" value="<%= sale._id %>">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= oldInputs?oldInputs.name:sale.name %>" />
        </div>
        <% console.log(oldInputs) %>
        <div id="dates">
            <div class="form-control">
                <label for="startTime">Start time</label>
                <input type="datetime-local" name="startDate"
                    value="<%= oldInputs?oldInputs.startDate.toISOString().substring(0,16):sale.startDate.toISOString().substring(0,16) %>" />
            </div>
            <div class="form-control">
                <label for="startTime">End time</label>
                <input type="datetime-local" name="endDate"
                    value="<%= oldInputs?oldInputs.endDate.toISOString().substring(0,16):sale.endDate.toISOString().substring(0,16) %>" />
            </div>
        </div>
        <div class="form-control">
            <select onchange="" name="saleType">
                <% if(oldInputs){%>
                <%if(oldInputs.saleType==='Percentage'){ %>
                <option selected>Percentage</option>
                <option>Fixed</option>
                <% }else{ %>
                <option>Percentage</option>
                <option selected>Fixed</option>
                <% } %>
                <% }else{ %>
                <%if(sale.saleType==='Percentage'){ %>
                <option selected>Percentage</option>
                <option>Fixed</option>
                <% }else{ %>
                <option>Percentage</option>
                <option selected>Fixed</option>
                <% } %>
                <% } %>
            </select>
            <input type="number" name="sale" value="<%= oldInputs?oldInputs.sale:sale.sale %>" />
        </div>
        <button type="submit" class="btn">Update</button>
        <% console.log(oldInputs) %>
        <% console.log(products) %>
        <% if(oldInputs){ %>
        <% if(oldInputs.products.length>0){ %>
        <div class="grid">
            <% products.forEach((product)=>{ %>
            <div>
                <div style="flex-direction: row;">
                    <% if(oldInputs.products.filter((prod)=>prod===product._id.toString()).length>0){ %>
                    <input type="checkbox" name="product" value="<%= product._id %>" id="<%= product._id %>" checked />
                    <% }else{ %>
                    <input type="checkbox" name="product" value="<%= product._id %>" id="<%= product._id %>" />
                    <% } %>
                    <label for="<%= product._id %>"><%= product.title %></label>
                </div>
                <div class="card__image__logo">
                    <img src="/<%= product.imageUrl[0].key %>">
                </div>
            </div>
            <% }) %>
        </div>
        <% }else{ %>
        <h1>No products found!</h1>
        <% } %>
        <% }else if(products.length>0){ %>
        <div class="grid">
            <% products.forEach((product)=>{ %>
            <div>
                <div style="flex-direction: row;">
                    <% if(sale.products.filter((prod)=>prod===product._id.toString())){ %>
                    <input type="checkbox" name="product" value="<%= product._id %>" id="<%= product._id %>" checked />
                    <% }else{ %>
                    <input type="checkbox" name="product" value="<%= product._id %>" id="<%= product._id %>" />
                    <% } %>
                    <label for="<%= product._id %>"><%= product.title %></label>
                </div>
                <div class="card__image__logo">
                    <img src="/<%= product.imageUrl[0].key %>">
                </div>
            </div>
            <% }) %>
        </div>
        <% }else{ %>
        <h1>No products found!</h1>
        <% } %>
    </form>
    </main>
</body>
<%- include('../includes/end.ejs') %>